.idea

zadanie7/.build/
zadanie7/.swiftpm/

zadanie7/.vscode/
zadanie7/.DS_Store

zadanie7/.leaf-cache/

zadanie7/db.sqlite

zadanie7/*.xcodeproj
zadanie7/*.xcworkspace
zadanie7/*.xcuserdata/

zadanie7/Dockerfile
zadanie7/docker-compose.yml

zadanie7/*.swp
zadanie7/*.tmp
zadanie7/*.log
zadanie7/*.dSYM
zadanie7/*.swiftdoc
zadanie7/*.swiftsourceinfo
